@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background-color: #000000;
    --div-color: #090b11;
    --font-color: #ffffff;
}

body {
    background-color: var(--background-color);
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Poppins, serif;
}

.navbar {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.navbar button {
    background-color: var(--div-color);
    border: none;
    color: var(--font-color);
    padding: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar a {
    text-decoration: none;
    color: var(--font-color);
    font-family: Poppins, serif;
}