@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--background-color: #000000;
	--button-color: #121317;
	--button-hover-color: #24252c;
	--div-color: #090b11;
	--font-color: #ffffff;
}

body {
	background-color: var(--background-color);
	display: flex;
	font-family: Poppins, serif;
	gap: 85px;
	height: 100vh;
	justify-content: center;
	margin: 0;
	width: 100vw;
}

.navbar {
	align-items: center;
	background-color: var(--div-color);
	display: flex;
	flex-flow: column;
	gap: 5px;
	padding: 36px;
	width: 264px;
}

button {
	background-color: var(--button-color);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0.125em 0.063em 0.063em rgba(0, 0, 0, 0.77);
	color: var(--font-color);
	cursor: pointer;
	font-size: 16px;
	margin: 4px 2px;
	padding: 10px;
	transition: all .3s;
	width: 189px;
}

button:hover {
	background-color: var(--button-hover-color);
}

a {
	color: var(--font-color);
	font-family: Poppins, serif;
	text-decoration: none;
}

.main {
	align-items: center;
	background-color: var(--div-color);
	color: var(--font-color);
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	margin-left: 69px;
	padding: 67px;
	width: 100%;
}

.container {
	align-items: center;
	background-color: var(--div-color);
	color: var(--font-color);
	display: flex;
	flex-flow: column;
	gap: 10px;
	justify-content: center;
	width: 80%;
}

.password-form {
	align-items: center;
	display: flex;
	flex-flow: column;
	gap: 10px;
	justify-content: center;
}

#code {
	background-color: var(--button-hover-color);
	border: none;
	border-radius: 7px;
	color: white;
	padding: 5px;
}

#code:focus-visible {
	outline: none;
}